.contact {
    text-align: center;
    p {
        width: 70vw;
        margin: 0 auto;
        line-height: 1.5;
    }
    form {
        text-align: right;
        background-color: darken($Color2, 5%);
        display: inline-block;
        padding: 50px;
        margin: 50px auto;
        & > div {
            width: 375px;
            display: flex;
            justify-content: space-between;
            margin: 25px;
            label {
                text-align: left;
                display: inline-block;
            }
            input, textarea {
                width: 250px;
            }
        }
        & > input {
            cursor: pointer;
            text-align: right;
        }
    }
}