.home {
  & > div {
    padding: 0 35px;
    &:nth-child(1) .homeimage::before {
      background-image: url("../assets/images/homebg1.jpg");
    }
    &:nth-child(2) .homeimage::before {
      background-image: url("../assets/images/homebg2.jpg");
    }
    &:nth-child(3) .homeimage::before {
      background-image: url("../assets/images/homebg3.jpg");
    }
    .homeimage {
      position: relative;
      width: 100%;
      height: 50vw;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        background-attachment: fixed;
      }
      & > div {
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
          margin: 0;
          color: $Color2;
          font-weight: bolder;
          width: px-to-vw(700px);
          text-align: center;
          font-size: em-to-vw(3);
        }
        button {
          margin-top: px-to-vw(50px);
          background-color: transparent;
          color: $Color2;
          border: px-to-vw(3px) solid $Color2;
          transition: background-color 0.5s ease, color 0.5s ease;
          font-size: em-to-vw(1);
          padding: px-to-vw(22px);
          font-weight: bold;
          letter-spacing: px-to-vw(5px);
          word-spacing: px-to-vw(5px);
          &:hover {
            background-color: $Color2;
            color: $Color1;
          }
        }
      }
    }
    .home__about {  
      width: 65vw;
      margin: 150px auto;
      h1 {
        font-size: 2em;
      }
      h3 {
        margin-top: 50px;
        font-size: 1.35em;
      }
      p {
        font-size: 1.15em;
        line-height: 1.5;
      }
      div {
        margin: 25px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
          align-self: flex-start;
        }
        iframe {
          margin-top: 10px;
        }
      }
    }
  }
}