.products {
  h1 {
    text-align: center;
    font-size: 2.5em;
    // margin: 50px 0;
    margin-bottom: 50px;
  }
  .products__menu {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
    .product {
      cursor: pointer;
      background-color: white;
      overflow: hidden;
      width: 300px;
      padding: 15px;
      border: 1px solid transparent;
      &:hover {
        border-color: lightgray;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
      }
      & > div {
        // padding: 12px;
        header {
          background-color: white;
          color: darken(white, 75%);
          text-align: center;
          padding: 15px;
          &.inCart {
            background-color: rgb(236, 176, 65);
          }
        }
        .product__image {
          width: 100%;
          height: 300px;
          overflow: hidden;
          position: relative;
          background-color: white;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
          }
        }
        .product__price {
          color: darken(white, 75%);
          padding: 15px;
          background-color: darken(white, 5%);
        }
      }
      footer {
        background-color: darken(white, 7%);
        color: darken(white, 85%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        font-size: 0.95em;
        button {
          background-color: white;
          border: 1px solid gray;
          white-space: nowrap;
          color: darken(white, 85%);
        }
        span {
          white-space: nowrap;
        }
        input {
          width: 30px;
          border: 1px solid gray;
          padding: 2px;
          text-align: center;
          color: darken(white, 85%);
          &.inCart {
            background-color: coral;
          }
          &.qtyChanged {
            background-color: lightcoral;
          }
        }
        .product__qty {
          display: grid;
          grid-template-columns: auto auto auto;
        }
        & > button {
          border-radius: 5px;
          padding: 5px 10px;
          background-color: $Color5;
          color: darken(white, 85%);
          &:hover {
            background-color: darken($Color5, 2%);
          }
        }
      }
    }
  }
  .products__checkout {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 75px;
    font-size: 1em;
    background: darken($Color1, 10%);
    color: white;
    border: none;
    padding: 25px;
    &:hover {
      background-color: $Color4;
    }
  }
}