.thankyou {
  margin: 50px;
  h2 {
    margin-top: 12px;
    margin-bottom: 50px;
  }
  button {
    margin-top: 25px;
    cursor: pointer;
    font-size: 1em;
    background: darken($Color1, 10%);
    color: white;
    border: none;
    padding: 20px;
    &:hover {
      background-color: $Color4;
    }
  }
}