* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: $PrimaryFont;
  width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  outline: none;
}
input {
  border: 1px solid black;
}