.itemsbasket {
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin: 10px;
      border: 1px solid black;
      padding: 10px;
      .basket__product {
        width: 100%;
        display: flex;
        align-items: center;
        img {
          height: 50px;
          width: 50px;
        }
        & > div {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .basket__product--name {
            width: 100px;
            padding: 0 10px;
          }
          .basket__product--price {
            white-space: nowrap;
            padding-right: 10px;
          }
          & > div {
            display: flex;
            align-items: center;
            span {
              margin: 0 5px;
            }
          }
        }
        .basket__product--cross {
          padding: 0;
          border: none;
          font-size: 1.25em;
          margin-top: -1px;
          margin-left: 15px;
        }
      }
    }
  }
}
.itemsbasket__subtotal {
  padding: 10px;
  & > div {
    span {
      float: right;
    }
  }
}
.basket__basket {
  .itemsbasket__checkout {
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 1px solid black;
    background-color: lighten(black, 10%);
    color: white;
    &:hover {
      background-color: black;
    }
  }
}
