.footer {
  color: black;
  text-align: center;
  padding: 10px 0;
  a {
    color: black;
  }
  .footer__contact {
    ul {
      padding: 0;
      &.nav__links {
        li {
          font-size: 1em;
        }
      }
      li {
        display: inline-block;
        margin: 0 10px;
        font-size: 1.75em;
      }
    }
  }
  .footer__copyright {
    margin-top: 10px;
    padding: 10px;
    font-size: 0.85em;
  }
}