.navigation {
  .nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

    .nav__logo {
      width: 120px;
    }
    .nav__basket {
      position: relative;
      margin-right: 25px;
      padding: 10px;
      cursor: pointer;
      .nav__basket--basket {
        display: flex;
        align-items: center;
        i {
          font-size: 2.15em;
          margin-right: 12px;
        }
      }
      .basket {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(100%);
        background-color: gray;
        .basket__basket {
          width: 400px;
          .itemsbasket {
            ul {
              list-style-type: none;
              padding: 0;
              li {
                margin: 10px;
                background-color: lightgray;
                padding: 10px;
                .basket__product {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  img {
                    height: 50px;
                    width: 50px;
                  }
                  & > div {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .basket__product--name {
                      width: 100px;
                      padding: 0 10px;
                    }
                    .basket__product--price {
                      white-space: nowrap;
                      padding-right: 10px;
                    }
                    & > div {
                      display: flex;
                      align-items: center;
                      span {
                        margin: 0 5px;
                      }
                    }
                  }
                }
              }
            }
          }
          .itemsbasket__subtotal {
            padding: 10px;
            & > div {
              span {
                float: right;
              }
            }
          }
          .itemsbasket__checkout {
            width: 100%;
            padding: 10px;
          }
        }
        .basket__empty {
          white-space: nowrap;
        }
      }
      &:hover {
        background-color: gray;
        .basket {
          display: block;
        }
      }
    }
  }
  .nav__links {
    display: flex;
    justify-content: center;
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        padding: 10px;
        background-color: lightgray;
        margin: 0 10px;
      }
    }
  }
}