.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;

  button {
    background-color: white;
    outline: none;
    border: 1px solid $Color1;
  }
  .nav__logo {
    width: 120px;
  }
  .nav__logo--short {
    width: 50px;
    display: none;
  }
  .nav__links {
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0 10px;
      a {
        color: $Color1;
        &:hover {
          color: $Color3;
        }
        &.link--active {
          color: $Color3;
          text-shadow: 0 0 1px black;
        }
      }
    }
  }
  .nav__basket {
    position: relative;
    // margin-right: 25px;
    padding: 10px;
    cursor: pointer;
    .nav__basket--basket {
      display: flex;
      align-items: center;
      i {
        font-size: 2.15em;
      }
      .nav__basket--info {
        margin-left: 12px;
      }
      .nav__basket--infonum {
        font-size: 0.85em;
        display: none;
        background-color: $Color4;
        color: $Color2;
        padding: 3px;
        border-radius: 50%;
        align-self: flex-end;
        margin-left: -3px;
        margin-bottom: -5px;
      }
    }
    .nav__basket--whitebar {
      z-index: 7;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $Color2;
    }
    .basket {
      cursor: default;
      z-index: 6;
      display: none;
      position: absolute;
      bottom: 0px;
      right: -1px;
      transform: translateY(100%);
      background-color: $Color2;
      border: 1px solid $Color1;
      .basket__basket {
        width: 400px;
        z-index: 99;
      }
      .basket__empty {
        white-space: nowrap;
        padding: 25px;
      }
    }
    &:hover {
      border: 1px solid $Color1;
      border-bottom-color: $Color2;
      margin-top: -2px;
      margin-right: -2px;
      .basket {
        display: block;
      }
      .nav__basket--basket {
        color: $Color4;
      }
    }
  }
}

.nav__menutoggle {
  cursor: pointer;
  height: 28px;
  width: 40px;
  display: none;
  flex-flow: column;
  justify-content: center;
  transition: transform 0.25s ease;
  &:hover {
    .nav__menubar {
      &::after {
        margin-top: 3px;
      }
      &::before {
        margin-top: -3px;
      }
    }
  }
  .nav__menubar {
    background-color: $Color4;
    position: relative;
    width: 100%;
    height: 2px;
    transition: background-color 0s 0.25s;

    &::after,
    &::before {
      content: "";
      position: absolute;
      background-color: $Color4;
      width: 100%;
      height: 100%;
      transition: margin 0.25s ease, top 0.25s 0.25s ease, transform 0.25s;
    }
    &::after {
      top: 13px;
    }
    &::before {
      top: -13px;
    }
  }
}

/*TOGGLED*/
.toggled {
  .nav__menubar {
    background-color: transparent;
    &::after,
    &::before {
      top: 0px;
      transition: margin 0.25s ease, top 0.25s ease, transform 0.25s 0.25s;
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
  &:hover {
    transform: scale(1.25);
    .nav__menubar {
      &::after,
      &::before {
        margin-top: 0px;
      }
    }
  }
}

@media only screen and (max-width: 930px) {
  .nav__logo {
    display: none;
  }
  .navigation .nav__logo--short {
    display: block;
  }
  .nav__menutoggle {
    display: flex;
  }
  .nav__links {
    z-index: 5;
    position: absolute;
    left: -150vw;
    background-color: $Color2;
    width: 100vw;
    padding: 30px 0;
    padding-top: 30px;
    transition: left 0.75s ease;
    border-top: 1px solid $Color1;
  }
  .navigation .nav__links > li {
    width: 100%;
    text-align: center;
    margin: 12px 0;
  }
  .linkstoggled {
    left: 0;
  }
  .nav__links--container {
    order: -1;
  }
  .nav__basket--info {
    display: none;
  }
  .navigation .nav__basket .nav__basket--basket .nav__basket--infonum {
    display: block;
  }
  .navigation .nav__basket .basket .basket__basket {
    width: 400px;
  }
}